.projectBody{
    position: relative;
    flex: 6;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5%;
}

.projectIndex{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 86px;
    z-index: 0;
    line-height: 80px;
    color: #333;
}

.imgWrapper{
    height: 200px;
    flex: 1;
}

.imgWrapper img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.projectTexts{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
    flex: 1;
    z-index: 1;
}

.projectTexts p{
    text-align: justify;
}

.projectTexts button{
    padding: 10px 20px;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 8px;
}