.skills{
    background-color: var(--darkColor);
    height: 100vh;
}

@media screen and (max-width: 800px){
    .skills{
        height: 100%;
    }



}

.skillsContainer{
    background-color: var(--secondaryColor);
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;

}

@media screen and (max-width: 800px){
    .skillsContainer{
        padding: 30px 10%;

    }
}

.skillsAllContainer{
    display: flex;
    flex: 10;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 800px){
    .skillsAllContainer{
        flex-direction: column;
        gap: 30px;

    }
}

.skillsTextContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media screen and (max-width: 800px){
.skillsTexts{
    display: none;
}
}

.skillsIconContainer{
    flex: 1;
}


.skillsTitle{
    color: var(--darkColor)
}

.skillText{
    color: white;
}
