.skills{
    background-color: var(--darkColor);
    height: 100vh;
}

.skillsContainer{
    background-color: var(--secondaryColor);
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;

}

.skillsAllContainer{
    display: flex;
    flex: 10;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skillsTextContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.skillsIconContainer{
    flex: 1;
}


.skillsTitle{
    color: var(--darkColor)
}

.skillText{
    color: white;
}
