.about{
    height: 100vh;
    background-color: var(--darkColor);
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px){
   .about{
    height: 100%;
    padding-top: 30px;
   }
    
}

.aboutContainer{
    display: flex;
    flex: 10;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
}

.aboutPictureContainer{
    flex: 1;
}

@media screen and (max-width: 800px){
    .aboutPictureContainer{
        display: none;
    }
}

.aboutTextContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.aboutText{
    color: white;
    text-align: end;
}

@media screen and (max-width: 800px){
    .aboutText{
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    }

    .aboutTextContainer{
        align-items: center;
    }
}




