.experience{
    height: 100vh;
    background-color: var(--darkColor);
}

.allExperienceContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experienceContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5% 0;
}

#experienceSectionText{
    flex: 1;
}

.experienceTextsWrapper{
    display: flex;   
    flex: 12;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

