*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  
}

html,body{
  min-height: 100vh;
  padding: 5px;
  background-image: linear-gradient(to right, #FEDE7B, #FEC47B);
  scroll-behavior: smooth;
}

:root{
  --primaryColor: #FECF7C;
  --secondaryColor: #555;
  --darkColor: #111;
  --heroHeadingFont: 50px;
  --heroTitleFont: 24px;
}

@media screen and (max-width: 800px){
  :root{
    --heroHeadingFont: 30px;
  --heroTitleFont: 16px;
  }

  html,body{
    padding: 0;
    min-height: 100vh;
  }
  
}